.header {
    width: 100%;
    height: 25vh;
    background-color: #ffd333;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.header_content_left {
    width: 20%;
}

.header_content_left p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header_content_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    width: 60%;
    float: right;
}

.item {
    margin: 0 10px;
}

.separator {
    margin: 0 5px;
    color: #000;
    /* Màu của dấu ngăn cách */
}

.header_header {
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: flex;
}

.header_header_left {
    width: 60%;
    height: 10vh;
    display: flex;
}

.header_header_left p {
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

.header_header_left input {
    padding: 5px;
    margin-left: 40px;
    width: 50%;
    height: 7vh;
    margin-top: 10px;
    border-radius: 16px;
}

.header_header_right {
    width: 60%;
    display: flex;

}

.header_header_left img {
    width: 250px;
}

.header_header_right_content {
    width: 30%;
    height: 7vh;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;

}

.header_header_right_content img {
    width: 50px;
    height: 50px;

}

.header_header_right_content p {
    color: white;
    margin: auto;
    margin-left: 10px;
}

.header_menu {
    width: 100%;
    height: 70px;
    display: flex;
}

.header_menu_left {
    width: 20%;
    height: 40px;
    background-color: #000;
    margin-top: 12px;
    margin-left: 50px;
}

.header_menu_left p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.header_menu_right {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    display: flex;
}

.header_menu_right p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    margin: auto;
}

.header_menu_right a {
    text-decoration: none;
    color: black;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid #ffb700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;

}
.header_header_right_content a{
    text-decoration: none;
    color:white ;
}